<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.app1.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.spring.app1.model.Course" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="isDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="versionEndTime" property="versionEndTime" jdbcType="TIMESTAMP" />
    <result column="versionStartTime" property="versionStartTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="courseName" property="courseName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comment, isDelete, operator, versionEndTime, versionStartTime, create_time, update_time, 
    courseName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_course
    where id = #{id,jdbcType=VARCHAR}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_course
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spring.app1.model.Course" >
    insert into t_course (id, comment, isDelete, 
      operator, versionEndTime, versionStartTime, 
      create_time, update_time, courseName
      )
    values (#{id,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{versionEndTime,jdbcType=TIMESTAMP}, #{versionStartTime,jdbcType=TIMESTAMP}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{courseName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spring.app1.model.Course" >
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="versionEndTime != null" >
        versionEndTime,
      </if>
      <if test="versionStartTime != null" >
        versionStartTime,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="courseName != null" >
        courseName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="versionEndTime != null" >
        #{versionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versionStartTime != null" >
        #{versionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.app1.model.Course" >
    update t_course
    <set >
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="versionEndTime != null" >
        versionEndTime = #{versionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="versionStartTime != null" >
        versionStartTime = #{versionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="courseName != null" >
        courseName = #{courseName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.app1.model.Course" >
    update t_course
    set comment = #{comment,jdbcType=VARCHAR},
      isDelete = #{isDelete,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      versionEndTime = #{versionEndTime,jdbcType=TIMESTAMP},
      versionStartTime = #{versionStartTime,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      courseName = #{courseName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
   <select id="queryAllCourse" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_course
  </select>
  
  
  
  
  
  
</mapper>